<footer class="footer sticky-bottom offset-0">
  <div class="container border-top f-info">
    <div class="row border-bottom">
      <div class="col description">
        TOP DEALS
        <p>
          TOP DEAL is an e-commerce platform offering competitive prices on a
          wide range of products, from electronics to fashion, with a focus on
          quality deals and customer satisfaction.
        </p>
      </div>
      <div class="col">
        <div class="info">
          <p>Aligarh, Uttar Pradesh</p>
          <p><i class="fa-solid fa-envelope"></i> rupeshvarshney7@gmail.com</p>
          <p><i class="fa-solid fa-phone"></i> +91 XXXXXXXXX</p>
        </div>
        <div class="f-info-socials">
          <i class="fa-brands fa-whatsapp"></i>
          <i class="fa-brands fa-linkedin mx-2"></i>
          <i class="fa-brands fa-github"></i>
        </div>
      </div>
    </div>
    <div class="row aman">
      <div class="col copyright">&copy; TOP DEALS</div>
    </div>
  </div>
</footer>
