<nav
  class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><i class="fa-solid fa-basket-shopping" style="color: #ffd43b"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/top-deal">All Items</a>
        <a class="nav-link" href="/top-deal/new">Add New Item</a>
      </div>
    </div>

    <form class="d-flex">
      <input
        class="form-control me-2 search-nav"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success searchBtn" type="submit">
        Search
      </button>
    </form>

    <div class="collapse navbar-collapse account_cart" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#"
          ><i class="fa-solid fa-user-large fa-sm"></i> &nbsp;Account</a
        >
        <a class="nav-link" href="#"
          ><i class="fa-brands fa-opencart"></i>&nbsp; Cart</a
        >
      </div>
    </div>
  </div>
</nav>
