body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100% !important;
}

.container{
    flex: 1;
    margin: 0 !important;
    /* padding-inline-start: 12rem !important; */
}
/* Navbar CSS */

.navbar{
    height: 4rem;
    background-color: white;
}

.fa-basket-shopping{
    font-size: 1.5rem;
    margin-left: 2rem;
}

.nav-link{
    color: black !important;
    font-size: 1.2rem;
    padding-left: 1.5rem !important;
}

.search-nav{
    border-radius:25px !important ;
    width: 19rem !important;
}

.account_cart{
   width: 0rem;
}

.searchBtn{
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
}

.searchBtn i{
    display: inline;
    margin-right: 0.25rem !important;
}

/* HomePage Options */
#filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter {
    text-align: center;
    margin-right: 2rem;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.9rem;
  }


/* Footer CSS */
.copyright{
    text-align: center;
    padding:0 0 1rem 0;
}

.f-info{
    background-color: #ffffff;
    width: 100% !important;
    margin:auto !important;
}

.description{
    padding: 1rem 2rem 1rem 2rem !important;
}

.info{
    padding: 1rem 5rem 0rem 7rem ;
}

.f-info-socials{
    font-size: 1.5rem;
    padding-left: 7rem;
}

.about-me {
    margin-bottom: 0.5rem;
}

/* Cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}

.indexImg{
    height: 15rem;
    width: 100% !important;
    object-fit: contain !important;
    border-top-left-radius:1rem !important;
    border-top-right-radius:1rem !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.item-container{
    margin-left: 3.5rem !important;
}

.item-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.8;
    background-color: #ebebeb;
    border-radius:1rem ;
    transition: background-color 0.8s ease;
}

.addToCart{
margin-top: 7.5rem !important;
}

/* Show Route */
.product-container{
    width: 540px
}
.showImg{
    height: 20rem !important;
    width: 40rem !important;
}

#owner-name {
    font-size: 18px !important;
    margin-bottom: 2rem !important;
}

.title{
    font-size: 2rem !important;
}

.show-heading{
    margin-left: 1.5rem;
    width: 14rem;
}

.rowContainer{
    width: 150%;
    border: 1px solid black;
    width: 126%;
    padding-left: 5rem;
    border-radius: 2rem !important;
    padding-bottom: 1rem !important;
}

.showDetails{
    width: 15rem;
    margin: 2rem 0rem 0rem 5rem;
}

.product-description {
    font-size: 1.58rem !important;
}

.showButtons{
    margin-top: 1rem;
    width:12rem;
    display: flex;
    margin-left: 5rem !important;
    justify-content: space-between;
}

/* Review */
.reviewLine{
    left: -28rem !important;
    position: relative;
    width: 90vw !important;
}

.reviewCard{
    border: 1px solid gray !important;
    border-radius: 1rem !important;
    padding: 1rem;
    margin-bottom: 1rem;
}


/* map */
#map{
    height: 300px;
    width: 400px;
}

@media(max-width: 1105px) {
    .product-container {
        margin: auto !important;
        
    }

    .product-img{
        height: 19rem !important;
        width: 11rem !important;
        padding: 0.8rem 0 0 0 !important;
    }

    .showImg{
        height: 16rem !important;
        width: 11rem !important;
    }

    .rowContainer{
        padding-bottom: 0 !important;
    }
}


@media(max-width:1000px){
    .info{
        padding: 0;
    }
    .description{
        padding-top: 5px !important;
    }

    .map{
        margin-left: 8rem !important;
    }

    .logo{
        width: 2rem !important;
        margin-right: 0 !important;
    }

    .fa-basket-shopping{
        position: relative;
        left: -1.5rem;
    }

    .nav-link{
        font-size: 14px;
        padding-left: 1.2rem !important;
    }

    .search-nav{
        height: 2rem !important;
        width: 14rem !important;
        font-size: 0.85rem !important;
    }

    .searchBtn {
        font-size: 0.85rem !important;
    }
}

@media(max-width:950px) {
    .item-container{
        margin-left: 2rem !important;
    }
}

@media(max-width:850px) {
    .rowContainer{
        width: 38rem !important;
        padding-left: 3rem !important;
    }
}

@media(max-width:768px) {
    /* #navbar-nav{
        margin: 0 !important;
        margin-left: -2rem !important;
    }

    #search-bar{
        margin: 0 !important;
    } */

    #filter{
        display: none;
    }

    .item-container{
        margin: 0 !important;
    }

    .product-listed{
        width: 40rem !important;
        margin: 0 0rem 0 -3rem !important;
    }

    .indexImg{
        height: 10rem !important;
    }

    .f-info-socials{
        padding-left: 0 !important;
    }

    .border-up-map {
        width: 31rem !important;
    }
    
    .map{
        margin-left: 11rem !important;
    }

    #map{
        height: 200px !important;
        width: 300px !important;
    }

    .product-details{
        width: 20rem !important;
    }

    .rowContainer{
        margin:auto !important;
    }

    .product-container{
        margin:auto !important;
    }

    .item-container-show{
        margin: auto !important;
        margin-right: 7rem !important;
    }

    #col-container, #login-container, #login-title, #signUp-title, #signUp-container{
        margin-left: 7rem !important;
    }

    #new-product-entries, #login-info, #signUp-entries{
        width: 20rem !important;
    }
}

@media(max-width:679px ){
    .product-listed{
        margin: auto !important;
        width: 35rem !important;
    }
    .border-up-map{
        width: 30rem !important;
    }
}

@media(max-width:630px) {
    .showDetails{
        width: 14rem !important;
        margin: 1.5rem 0 0 2rem !important;
    }

    .product-details{
        width: 16rem !important;
    }

    .rowContainer{
        width: 27rem !important;
    }

    .title{
        display: inline;
        font-size: 1.5rem !important;
    }
    #owner-name {
        font-size: 15px !important;
    }

    .product-description{
        font-size: 1.4rem !important;
        margin-top: -1rem !important;
        margin-bottom: 10px !important;
    }

    .product-img{
        height: 15rem !important;
        width: 6rem !important;
    }

    .showImg{
        height: 11rem !important;
        width: 6rem !important;
    }

    .show-heading{
        font-size: 24px !important;
        margin-left: 5rem !important;
    }
   

}

@media(max-width:591px) {
    .product-listed{
        width: 25rem !important;
    }
    .map{
        margin-left: 0rem !important;
    }
    #map{
        margin-left: 2rem !important;
    }

    .email {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
      }
      #about-website {
        font-size: 14px;
      }
}

@media(max-width:550px) {
    #rowContainer{
        display: flex !important;
        flex-direction: column !important;
        width: 18rem !important;
    }

    .showImg{
        width: 10rem !important;
    }

    .product-img{
        width: 10rem !important;
        height: 12rem !important;
    }

    .showDetails{
        margin: 0 !important;
    }

    .product-container{
        width: 325px !important;
    }

    #col-container{
        margin-left: 5rem !important;
    }

    #login-container, #login-title, #signUp-container, #signUp-title{
        margin-left: 4rem !important;
    }
}

@media(max-width:515px) {
    .map{
        margin-left: 4rem !important;
    }
 #about-website{
        display: inline-block !important;
        flex-direction: row !important;
    }
    .email{
        justify-content: start !important;
    }
    
    .address{
        padding: 0 2rem 0 2rem !important;
        margin-bottom: 0rem  !important;
    }

    .f-info{
        width: 24rem !important;
        /* margin-top: 1rem !important; */
    }

    .border-up-map{
        width: 26rem !important;
    }
}

@media(max-width:465px) {
    #map{
        width: 350px !important;
        height: 200px;
        margin-left: 1rem !important;
    }

    .map{
        margin-left: 1rem !important;
    }

    .product-listed{
        margin-left: 1rem !important;
    }
}

@media(max-width:440px) {
    .product-listed{
        width: 20rem !important;
        margin-left: 3.5rem !important;
        margin-right: 0rem !important;
    }
    .item-card{
        width: 16rem !important;
    }
    .col-card-item {
        width: 16rem !important;
    }
    .card-img-overlay{
        width: 16rem !important;
    }
    .border-up-map{
        width: 22rem !important;
    }
    #map{
        margin-left: 0 !important;
        width: 300px !important;
    }

    #col-container{
        margin-left: 4rem !important;
    }

    #login-container, #login-title, #signUp-container, #signUp-title{
        margin-left: 2rem !important;
    }

    #new-product-entries{
        width: 18rem !important;
    }

    #login-info, #signUp-entries{
        width: 14rem !important;
    }
}

@media(max-width:406px) {
    .product-listed{
        width: 15rem !important;
        margin-left: 0rem !important;
    }

    .border-up-map{
        display: none !important;
        width: 15rem !important;
    }
    #map{
        width: 250px !important;
    }
}

@media(max-width:385px) {
    .f-info{
        width: 22rem !important;
    }

    #col-container{
        margin-left: 1.8rem !important;
    }

    #new-product-entries{
        font-size: 14px !important;
        width: 16rem !important;
    }

    #add-product-btn{
        margin-left: 4rem !important;
    }
}

@media(max-width:320px) {
    .f-info{
        width: 18rem !important;
        margin: auto !important;
    }

    .product-container{
        width: 300px !important;
    }
    .rowContainer{
        margin-left: 0rem !important;
    }

    .show-heading{
        margin-left: 4rem !important;
    }
}