body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
    margin: 0 !important;
    /* padding-inline-start: 12rem !important; */
}
/* Navbar CSS */

.navbar{
    height: 4rem;
    background-color: white;
}

.fa-basket-shopping{
    font-size: 1.5rem;
    margin-left: 2rem;
}

.nav-link{
    color: black !important;
    font-size: 1.2rem;
    padding-left: 1.5rem !important;
}

.search-nav{
    border-radius:25px !important ;
    width: 19rem !important;
}

.account_cart{
   width: 0rem;
}

.searchBtn{
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
}

.searchBtn i{
    display: inline;
    margin-right: 0.25rem !important;
}

/* HomePage Options */
#filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter {
    text-align: center;
    margin-right: 2rem;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.9rem;
  }


/* Footer CSS */
.copyright{
    text-align: center;
    padding:0 0 1rem 0;
}

.f-info{
    background-color: #ffffff;
    width: 100% !important;
    margin:auto !important;
}

.description{
    padding: 1rem 2rem 1rem 2rem !important;
}

.info{
    padding: 1rem 5rem 0rem 7rem ;
}

.f-info-socials{
    font-size: 1.5rem;
    padding-left: 7rem;
}

.about-me {
    margin-bottom: 0.5rem;
}

/* Cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}

.indexImg{
    height: 15rem;
    width: 100% !important;
    object-fit: contain !important;
    border-top-left-radius:1rem !important;
    border-top-right-radius:1rem !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.item-container{
    margin-left: 3.5rem !important;
}

.item-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.8;
    background-color: #ebebeb;
    border-radius:1rem ;
    transition: background-color 0.8s ease;
}

.addToCart{
margin-top: 7.5rem !important;
}

/* Show Route */
.showImg{
    height: 20rem !important;
    width: 40rem !important;
}

.rowContainer{
    width: 150%;
    border: 1px solid black;
    width: 126%;
    padding-left: 5rem;
    border-radius: 2rem !important;
    padding-bottom: 1rem !important;
}

.showDetails{
    margin: 2rem 0rem 0rem 5rem;
}

.showButtons{
    margin-top: 1rem;
    width:12rem;
    display: flex;
    margin-left: 5rem !important;
    justify-content: space-between;
}

/* Review */
.reviewLine{
    left: -28rem !important;
    position: relative;
    width: 90vw !important;
}

.reviewCard{
    border: 1px solid gray !important;
    border-radius: 1rem !important;
    padding: 1rem;
    margin-bottom: 1rem;
}


/* map */
#map{
    height: 300px;
    width: 400px;
}


@media(max-width:1000px){
    .info{
        padding: 0;
    }
    .description{
        padding-top: 5px !important;
    }

    .map{
        margin-left: 8rem !important;
    }

    .logo{
        width: 2rem !important;
        margin-right: 0 !important;
    }

    .fa-basket-shopping{
        position: relative;
        left: -1.5rem;
    }

    .nav-link{
        font-size: 14px;
        padding-left: 1.2rem !important;
    }

    .search-nav{
        height: 2rem !important;
        width: 14rem !important;
        font-size: 0.85rem !important;
    }

    .searchBtn {
        font-size: 0.85rem !important;
    }
}

@media(max-width:950px) {
    .item-container{
        margin-left: 2rem !important;
    }
}

@media(max-width:768px) {
    #filter{
        display: none;
    }

    .item-container{
        margin: 0 !important;
    }

    .product-listed{
        width: 40rem !important;
        margin: 0 2rem 0 2rem !important;
    }

    .indexImg{
        height: 10rem !important;
    }

    .f-info-socials{
        padding-left: 0 !important;
    }

    .border-up-map {
        width: 40rem !important;
    }
    
    .map{
        margin-left: 11rem !important;
    }

    #map{
        height: 200px !important;
        width: 300px !important;
        /* margin-left: 11rem !important; */
    }
}

@media(max-width:679px ){
    .product-listed{
        width: 33rem !important;
    }
    .border-up-map{
        width: 30rem !important;
    }
}

@media(max-width:591px) {
    .product-listed{
        width: 25rem !important;
    }
    .map{
        margin-left: 0rem !important;
    }
    #map{
        margin-left: 2rem !important;
    }

    .email {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
      }
      #about-website {
        font-size: 14px;
      }
}

@media(max-width:515px) {
    .map{
        margin-left: 4rem !important;
    }
 #about-website{
        display: inline-block !important;
        flex-direction: row !important;
    }
    .email{
        justify-content: start !important;
    }
    
    .address{
        padding: 0 2rem 0 2rem !important;
        margin-bottom: 0rem  !important;
    }

    .f-info{
        width: 24rem !important;
        /* margin-top: 1rem !important; */
    }

    .border-up-map{
        width: 26rem !important;
    }
}

@media(max-width:465px) {
    #map{
        width: 350px !important;
        height: 200px;
        margin-left: 1rem !important;
    }

    .map{
        margin-left: 1rem !important;
    }

    .product-listed{
        margin-left: 1rem !important;
    }
}

@media(max-width:440px) {
    .product-listed{
        width: 20rem !important;
        margin-left: 3.5rem !important;
        margin-right: 0rem !important;
    }
    .item-card{
        width: 16rem !important;
    }
    .col-card-item {
        width: 16rem !important;
    }
    .card-img-overlay{
        width: 16rem !important;
    }
}