<% layout('/layouts/boilerplate.ejs') -%>
<body>
  <h2>All Items</h2>
  <% for (let item of allItems) { %>
  <div class="card" style="width: 18rem">
    <img src="<%=item.image%>" class="card-img-top" alt="item" />
    <div class="card-body">
      <h5 class="card-title"><%=item.title%></h5>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
  <% } %>
</body>
