<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top ~ Deal</title>
  </head>
  <body>
    <h2>All Items</h2>
    <form method="GET" action="/top-deal/new">
      <button>Add New Item</button>
    </form>

    <ul>
      <% for (let item of allItems) { %>
      <li><a href="/top-deal/<%= item._id%>"><%= item.title%> </a></li>
      <% } %>
    </ul>
  </body>
</html>
