<% layout('/layouts/boilerplate.ejs')-%>
<body>
  <h2>Create a New Item</h2>
  <form method="POST" action="/top-deal">
    <input name="item[title]" type="text" placeholder="enter item name" />
    <br />
    <br />
    <textarea
      name="item[description]"
      placeholder="enter description of item"
    ></textarea>
    <br /><br />
    <input name="item[price]" type="number" placeholder="enter price of Item" />
    <br /><br />
    <input name="item[image]" placeholder="enter URL of Item" />
    <br /><br />
    <button>Add Item</button>
  </form>
</body>
